.messages__container{
    margin: 0 auto;
    max-width: 700px;
}
.messages__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 20px;
}
.messages__row__owner{
    display: flex;
    flex-direction: row;
}
.messages__row__owner>span{
    padding: 0;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.messages__row__owner__img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
}
.messages__row__owner__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
.messages__row__owner__name{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}
.messages__row__owner__car{
    font-size: 14px;
    line-height: 16px;
}

.messages__row__date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #1b1b1b;
}
