.car {
    margin-top: 100px;
}
.car__title{
    margin: 20px auto;
    max-width: 600px;
}
.car__footer {
    margin-top: 20px;
    padding: 20px;
}
.car__footer a{
    text-decoration: none;
    color: #fff;
    background-color: #61A199;
    padding: 16px 40px;
    border-radius: 5px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user-cars__item{
    display: flex;
    flex-direction: row;
}
.user-cars__item__photo{
    margin-right: 20px;
    max-width: 240px;
}
.user-cars__item__photo img{
    width: 100%;
}

.user-cars__item__desc{}
.user-cars__item__desc div{
    text-align: left;
}
